div {
  border: 1px solid #222;
  margin: 20px;
  padding: 20px;
}
#container {
  width: 600px;
  border: none;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px 20px;
}
#description {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px
  
}
#receipe {
  margin-bottom: 20px;
}
#package {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

  /* table {
    margin: 0 auto;    /* 화면 중앙에 배치
  } */